@import 'global';

.header {
  border-bottom: 1px $platinum solid;
}

.wrapper {
  display: grid;
  grid-area: header;
  grid-template: minmax(100px, auto) minmax(34px, auto) / repeat(2, minmax(176px, 176px)) repeat(2, minmax(278px, 384px));
  column-gap: 32px;
  align-items: center;
  grid-template-areas:
          "logo burger search user-menu"
          "logo info info contacts";

}

.info {
  grid-area: info;
  align-self: start;
  ul {
    display: flex;
    justify-content: space-between;
    li {
      a.active {
        text-decoration: underline;
      }
      a,
      a:visited {
        color: $old-lavender;
        font-size: 14px;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}
