@import "global";

.burger {
  grid-area: burger;
  padding: 8px 8px;
  & span {
    align-self: center;
  }

  &__container {
    height: 24px;
    width: 24px;
    align-self: center;
  }

  &__children {
    color: $raisin-black;
    display: flex;
    width: 110px;
    border-radius: 3px;
    padding-left: 8px;
    margin-left: -8px;
    &:hover {
      background-color: $cultured;
    }
  }

  &__line {
    display: block;
    width: 18px;
    position: relative;

    &:before {
      content: "";
      background-color: $raisin-black;
      position: absolute;
      top: 8px;
      left: 2px;
      width: 100%;
      height: 1.5px;
      border-radius: 6px;
    }

    &:after {
      content: "";
      background-color: $raisin-black;
      position: absolute;
      top: 15px;
      left: 2px;
      width: 70%;
      height: 1.5px;
      border-radius: 6px;
    }
  }
}

.ml16 {
  margin-left: 16px;
}