@import "global";

.h1,
.h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
}

.h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: $raisin-black;
}

.h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
