@import "global";

.wrapper {
  padding: 46px 0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 102px;
}

.images {
  display: grid;
  grid-template-columns: 72px 1fr;
  grid-column-gap: 32px;
}

.imagesPreview {
  width: 72px;
}

.imagePreview {
  max-width: 72px;
  height: 102px;
  margin-bottom: 16px;
  border-radius: 3px;
  outline-offset: 4px;
  outline: 2px solid rgba($persian-green, .0);
  transition: all .2s ease;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    cursor: pointer;
  }

  &.active {
    outline: 2px solid rgba($persian-green, 1);
  }
}

.mainImage {
  border-radius: 3px;
  max-height: 760px;
  display: flex;
  justify-content: center;
  background-color: $cultured;

  img {
    object-fit: cover;
    height: 100%;
  }
}

.info {

}

.title {
  margin-bottom: 14px;
  font-weight: 500;
}

.price {
  margin-bottom: 24px;
  font-size: 18px;
}

.available {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 32px;

  span {
    color: $persian-green;
  }
}

.productSubtitle {
  margin-bottom: 12px;
}

.description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.vendorSubtitle {
  margin-bottom: 16px;
}

.vendorInfo {
  margin-bottom: 48px;
}

.btn {
  height: 48px;
  width: 256px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}
