@import "global";

.item {
  max-height: 306px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(232px, 234px) 1fr minmax(24px, auto) minmax(32px, auto);
  grid-template-areas:
          "image"
          "name"
          "price"
          "button";
  grid-auto-flow: row;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3px;
  }
}

.image {
  grid-area: image;
  position: relative;
  padding: 0 0 75% 0;
  margin-bottom: 12px;
}

.name {
  grid-area: name;
  align-self: center;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $raisin-black;
}

.price {
  grid-area: price;
  align-self: center;
  margin-bottom: 4px;
  font-family: 'Montserrat', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  color: $raisin-black;
}

.btn {
  grid-area: button;
  align-self: center;
  width: 112px;
  height: 32px;
}

.trash {

  svg {
    width: 32px;
    height: 32px;
  }
}
