.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, 176px);
  column-gap: 32px;
  row-gap: 64px;
  grid-area: catalog;
}

.mainPage {
  display: grid;
  grid-template-columns: repeat(6, 2fr);
  column-gap: 32px;
  row-gap: 64px;
}
