.popup {
  padding-left: 24px;
  padding-right: 24px;
}

.infoWrapper {
  display: flex;
  margin-bottom: 24px;
}

.name,
.surname {
  width: 208px;
  height: 48px;
  margin-left: 0;
}

.address {
  width: 100%;
  height: 48px;
  margin-bottom: 24px;
}
.name {
  margin-right: 24px;
}

.phone {
  width: 40%;
  height: 48px;
  margin-left: 0;
  margin-bottom: 24px;
}

.btnWrapper {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 16px;
  }
}
