@import "global";

.button {
  grid-area: button;
  border-radius: 3px;
  transition: .1s all;
  font-family: 'Montserrat', serif;
  font-size: 13px;
}

.primary {
  background-color: $persian-green;
  color: $white;
  transition: 200ms all;
  &:hover {
    background-color: $teal-blue;
  }
}

.ghost {
  background-color: $cultured;
  color: $persian-green;

  &:hover {
    background-color: $mediun-turquoise;
    color: $white;
  }
}

.white {
  background-color: $white;
  color: $persian-green;
}

.disabled {
  background-color: $cultured;
  color: $cool-grey-light;
  cursor: not-allowed;
  &:hover {
    background-color: $cultured;
    color: $cool-grey-light;
  }
}

.s {
  padding: 8px;
  height: 32px;
}

.m {
  padding: 10px 24px;
}

.loading {
  background-color: $mediun-turquoise;
  cursor: progress;
}

.loader {
  margin: -1px auto 0;
}
