.wrapper {
  padding: 36px 0;
  display: grid;
  grid-template-areas:
    ". title ."
    ". content checkout";
  grid-template-columns: 176px 6fr 4fr;
  grid-column-gap: 32px;
}

.title {
  grid-area: title;
  margin-bottom: 32px;
}

.ordersInfo {
  grid-area: content;
}

.checkout {
  grid-area: checkout;
  background-color: $white;
  border-radius: 3px;
}

.addressTitle {
  margin-bottom: 24px;
}

.addressSubtitle {
  margin-bottom: 18px;
}

.addressItem {
  padding: 8px 14px;
  background-color: $platinum;
  border-radius: 3px;
  margin-bottom: 16px;
  cursor: pointer;

  &.active {
    outline-offset: 2px;
    outline: $persian-green solid 2px;
  }

  &Title {
    margin-bottom: 14px;
    font-weight: 600;
    color: $silver;
  }

  p {
    margin-bottom: 8px;
    color: $silver;
    font-size: 14px;
  }

  &.active &Title {
    color: $old-lavender;
  }

  &.active p {
    color: $old-lavender;
  }
}

.addressItemActive {
  color: $old-lavender;
}

.address,
.vendorItem {
  background-color: $white;
  padding: 28px 72px;
  border-radius: 3px;
  margin-bottom: 16px;
}

.vendorItemTitle {
  margin-bottom: 8px;

  span {
    color: $persian-green;
  }
}

.vendorItemInfo {
  margin-bottom: 16px;
  font-size: 12px;
  color: $cool-grey;
}

.vendorProductList {
  display: grid;
  grid-template-columns: repeat(auto-fill, 96px);
  grid-gap: 22px;
}


.vendorProductListImg {
  width: 96px;
  height: 120px;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 3px;
  }
}
