.catalog {
  &__main {
    flex-grow: 1;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(auto, 176px) 1fr;
    column-gap: 32px;
    padding: 36px 0;
  }

  &__sidebar {
    margin-top: 60px;

  }

  &__title {
    margin-bottom: 36px;
  }

  &__pagination {
    margin: 44px 0 36px;
  }
}
