@import "catalog-page";
@import "confirm-email";
@import "not-found";
@import "vendor-product";
@import "cart-page";
@import "_vars";


.divider {
  background-color: $medium-grey;
  width: 100%;
  height: 1px;
}

.button {
  border-radius: 3px;
  transition: .1s all;
  font-family: 'Montserrat', serif;
}

.primaryBtn {
  background-color: $persian-green;
  color: $white;
  transition: 200ms all;
  &:hover {
    background-color: $teal-blue;
  }
}

.ghostBtn {
  background-color: $cultured;
  color: $persian-green;

  &:hover {
    background-color: $mediun-turquoise;
    color: $white;
  }
}

.disabledBtn {
  background-color: $cultured;
  color: $cool-grey-light;
  cursor: auto;
  &:hover {
    background-color: $cultured;
    color: $cool-grey-light;
  }
}

.whiteBtn {
  background-color: $white;
  color: $persian-green;
}
