@import "catalog-page";
@import "confirm-email";
@import "not-found";
@import "vendor-product";
@import "cart-page";
@import "global";

.divider {
  background-color: $medium-grey;
  width: 100%;
  height: 1px;
}
